* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Raleway', sans-serif;
}

.logo {
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
}
